* {
    margin: 0;
    padding: 0;

}

@font-face {
    font-family: 'pixel';
    src: url(/FUENTES/AVENGEANCE\ HEROIC\ AVENGER.ttf);

}

@font-face {
    font-family: 'texto';
    src: url(FUENTES/Coolvetica\ Rg.otf);

}

@font-face {
    font-family: 'titulooffice';
    src: url(FUENTES/AVENGEANCE\ HEROIC\ AVENGER.ttf);
}

@font-face {
    font-family: 'tarjetas';
    src: url(/FUENTES/kindergarten.ttf);
}

@font-face {
    font-family: 'decoracion1';
    src: url(FUENTES/Crushed\ Candy.otf);
}

@font-face {
    font-family: 'decoracion2';
    src: url(FUENTES/JugendstilOrnamente.ttf);
}

@font-face {
    font-family: 'decoracion3';
    src: url(/FUENTES/ARTESANIA\ display.otf);
}

header {
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
    color: aliceblue;
    display: flex;
    flex-direction: row;
    margin: 0px 0px 0px;
    padding: 15px;

}

nav {

    margin-top: 2%;
    margin-right: 1%;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: row;
    margin-left: auto;
    gap: 15px;


}

#p1 {
    width: 5%;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.m2 {
    text-decoration: none;
    color: aliceblue;
    transition: 0.9;
    font-family: 'pixel';
    font-size: 25px;
    height: 25%;
    margin-top: 5%;

}

#logo {
    width: 18%;
}

.m2:hover {
    background: linear-gradient(135deg,
            rgb(133, 2, 2) 0%,
            rgb(133, 2, 2)20%,
            rgb(133, 2, 2) 50%,
            rgb(133, 2, 2) 70%,
            rgb(133, 2, 2) 85%,
            rgb(133, 2, 2)100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;

}

.fondoexcel {
    background-image: url(IMG/colores-abstractos-en-luces_7680x4320_xtrafondos.com.jpg);
    display: flex;
    flex-direction: row;
    background-size: cover;
    height: 60vh;
}

#excelito1 {
    width: 70%;
    margin-left: 5%;
    margin-top: 15%;
}

.excelito {
    margin-left: 5%;
    margin-top: 5%;
    width: 90%;
}

#t3 {
    color: rgb(236, 90, 64);
    font-family: 'decoracion3';
    font-size: 65px;
}

#t4 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    color: aliceblue;
}

ul {
    color: aliceblue;
    margin-top: 5%;
    margin-left: 2%;
    font-size: 25px;
}
.separador ul {
    list-style-type: none; 
    padding-left: 0; 
}

.separador li {
    margin: 10px 0; 
}
.separador{
    margin-left: -1.5%;
    display: flex;
    gap: 15px;
}
body{
    background-color: black;
}
.btn5{
    display: inline-block;
    margin-top: 15px;
    padding: 15px;
    background: transparent;
    color: #ffffff;
    border: 2px solid #ffffff;
    border-radius: 10px;
    font-family: 'decoracion3';
    font-size: 25px;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
    box-shadow: 0 0 10px #0236855b;
}
.btn5:hover {
  background-color: rgb(132, 22, 22);
  color: rgb(255, 255, 255);
  transform: scale(1.05);
}
.btn6 {
    margin-top: 7%;
    border: none;
    background-color: rgb(8, 142, 35);
    border-radius: 5px;
    padding: 0%;
    width: 20%;
    height: 4vh;
    color: aliceblue;
    font-family: 'decoracion3';
    font-size: 20px;
    cursor: pointer;
}

footer {
    background-color: black;
    height: 4.9vh;
    color: aliceblue;
    padding-top: 6%;
    font-size: 25px;
}

#fote2 {
    padding-top: 1%;
    margin-left: 1%;
    font-size: 20px;
}
header {
    font-family: 'Poppins', sans-serif;
    color: aliceblue;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    background-color: rgb(0, 0, 0);
    backdrop-filter: blur(5px);
}

nav {
    display: flex;
    align-items: center;
    gap: 20px;
}

#logo {
    width: 18%;

    transition: transform 0.3s ease;
}

#logo:hover {
    transform: scale(1.1);
}

.m2 {
    text-decoration: none;
    font-family: 'pixel', sans-serif;
    font-size: 2rem;

    color: aliceblue;
    transition: background 0.3s, transform 0.3s;
}

.m2:hover {
    transform: scale(1.1);
  background: linear-gradient(135deg,
            rgb(133, 2, 2) 0%,
            rgb(133, 2, 2)20%,
            rgb(133, 2, 2) 50%,
            rgb(133, 2, 2) 70%,
            rgb(133, 2, 2) 85%,
            rgb(133, 2, 2)100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;

}